
<div class='wym_box field resources_field'>
  <ul id='page_resources' class='clearfix'>
    <%= f.fields_for :resources do |resource_form| %>
      <li id='resource_<%= resource_form.object.id %>'>
        <%= resource_form.hidden_field :id %>
        <%= link_to "#{resource_form.object.title} (#{resource_form.object.file_name})", asset_paths.compute_public_path(resource_form.object.url, '') %>                       
        <% index = resource_form.object_name.split('[').last.split(']').first.to_i %>
        <%= hidden_field_tag "#{f.object_name.demodulize}[resources_attributes][#{index}][page_resource_id]", f.object.page_resource_id_for_resource_index(index) %>
        <% if Refinery::PageResources.captions %>
          <div class='textarea_wrapper_for_wym'>
            <%= text_area_tag "#{f.object_name.demodulize}[resources_attributes][#{index}][caption]",
                              f.object.caption_for_resource_index(index),
                              :style => 'display: none',
                              :id => "resource_captions_#{index}",
                              :class => 'resource_caption' %>
          </div>
        <% end %>
      </li>
    <% end %>
    <li class='empty_resource'>
      <%= hidden_field_tag "#{f.object_name.demodulize}[resources_attributes][#{f.object.resources.size}][id]" %>
      <% if Refinery::PageResources.captions %>
        <div class='textarea_wrapper_for_wym'>
          <%= text_area_tag "#{f.object_name.demodulize}[resources_attributes][#{f.object.resources.size}][caption]",
                            '',
                            :style => 'display: none',
                            :id => "resource_captions_#{f.object.resources.size}",
                            :class => 'resource_caption' %>
        </div>
      <% end %>
    </li>
  </ul>
</div>